*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-container{
    background-color: blanchedalmond;
    height: 100vh;
    width: 33.33%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input{
    background-color: #333;
    color: #f4f4f4;
    width: 80%;
    padding: 20px;
    border-radius: 5px; 
    margin-bottom: 20px;
}

.buttons{
    background-color: aqua;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}


.display-container{
    background-color: blanchedalmond;
    height: 100vh;
    width: 66.66%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.result-hours-box{
    background-color: #333;
    color: #f4f4f4;
    width: 90%;
    padding: 20px;
    border-radius: 5px; 
    margin-bottom: 20px;
    height: 200px;

}

.visuals{
    background-color: #333;
    width: 90%;
    padding: 10px;
    height: 400px;
}